In [1]:
import pandas as pd
import numpy as np

from src.data_processor import data_processor

In [3]:
df = data_processor("data/temp_data.csv")
df.head()

,stay_id,stay_lat,stay_lon,poi_name,poi_category,poi_lat,poi_lon,label,distance,rank
0,2,35.779678,139.721888,たくみろまん亭,居酒屋,35.779708,139.721925,0,4.731347,3
1,2,35.779678,139.721888,プロマート赤羽店,食品スーパー,35.779719,139.721908,0,4.969870,5
2,2,35.779678,139.721888,全席個室居酒屋 3時間食べ飲み放題 蔵富や 赤羽店,居酒屋,35.779678,139.721888,1,0.000000,0
3,2,35.779678,139.721888,大衆肉酒場 赤羽 ふじ屋,居酒屋,35.779678,139.721888,0,0.000000,1
4,2,35.779678,139.721888,赤羽 中華居酒屋 喜楽坊,居酒屋,35.779678,139.721888,0,0.000000,2